# Flask ayarları
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database ayarları
DATABASE_URL=sqlite:///labelPrint.db

# Printer ayarları
BLUETOOTH_PRINTER_NAME=TSC TE310-btpincode
CARTON_PRINTER_NAME=TSC TE310-packaging
BLUETOOTH_LABEL_WIDTH=100
BLUETOOTH_LABEL_HEIGHT=29
CARTON_LABEL_WIDTH=100
CARTON_LABEL_HEIGHT=67
DPI=300
ORIENTATION=portrait
DENSITY=12
SPEED=4
GAP_HEIGHT=3.048
GAP_OFFSET=0
TEAR_OFF=True
LEFT_SHIFT=2.032
RIGHT_SHIFT=2.032
IS_APP_DEVELOPMENT_MODE=True

# API ayarları
API_BASE_URL=https://10.254.240.20:50000/b1s/v1
COMPANY_DB=HERATEST03
API_USERNAME=manager
API_PASSWORD=3944
SELECT_SERIAL_NUMBER_COLUMNS=DocEntry,ItemCode,ItemDescription,MfrSerialNo,SerialNumber,U_4GImei,U_BluetoothMAC,U_BLE_A_P,U_EthernetMAC,U_CPID,U_MRFID,U_KRFID,U_KRFID1
SELECT_EAN_COLUMNS=ItemCode,ItemName,ForeignName,BarCode,U_Model,U_System,U_RaletedVoltage,U_RaletedPower,U_BodyColor

# Serial Port ayarları
SERIAL_PORT_NAME=COM6
SERIAL_BAUD_RATE=9600
SERIAL_PARITY=None
SERIAL_DATA_BITS=8
SERIAL_STOP_BITS=One
SERIAL_IS_APP_DEVELOPMENT_MODE=False 